@{
    ViewBag.Title = "Контакты";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<h2>Команда разработчиков</h2>
<br />
<section class="contact">
    <header>
        <h3>Паламарчук Сергей</h3>
    </header>
    <p>
        <h3>Электронная почта: serega217348@gmail.com</h3>
        <h3>Мобильный: 050-100-73-48</h3>
    </p>
</section>

<br />
<section class="contact">
    <header>
        <h3>Алексей Конев</h3>
    </header>
    <p>
        <h3>Электронная почта: edcop2@gmail.com</h3>
        <h3>Мобильный: 095 33 24 195</h3>
    </p>
</section>
<br />
<section class="contact">
    <header>
        <h3>Колесник Вячеслав</h3>
    </header>
    <p>
        <h3>Электронная почта: forcan1997@gmail.com</h3>
        <h3>Мобильный: 099-722-24-05</h3>
    </p>
</section>
<br />
<section class="contact">
    <header>
        <h3>Пискачев Ярослав</h3>
    </header>
    <p>
        <h3>Электронная почта: yaroslav.piskachov@gmail.com</h3>
        <h3>Мобильный: 0950079913</h3>
    </p>
</section>
<br />
<section class="contact">
    <header>
        <h3>Сафронов Максим</h3>
    </header>
    <p>
        <h3>Электронная почта: monegask1969@gmail.com</h3>
        <h3>Мобильный: 093-867-69-25</h3>
    </p>
</section>