@{
    ViewBag.Title = "Главная страница";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message.</h1>
              
            </hgroup>
            <p>
                Вас приветствует House Services!
                Наш сервис создан для быстрого оповещения жителей города
                о предстоящих событиях или действиях, которые будут проводиться с участием ЖКХ.
                Сервис также пригоден для любых работ, в которых может
                понадобиться быстро и качественно сообщить жителям какие-то новости.
            </p>
        </div>
    </section>    
}



<h3>Мы предлагаем: </h3>
<ol class="round">
    <li class="one">
        <h5>Удобная база данных</h5>
        Используя наш сервис Вы можете удобно и быстро создать 
        и организовать базу данных с районами, улицами,
        домами, подъездами и квартирами.
    </li>

    <li class="two">
        <h5>Уведомления</h5>
        Благодаря нашему сервису Вы сможете уведомить жильцов
        о предстоящих ремонтных работах.
    </li>

    <li class="three">
        <h5>Улучшение сервиса</h5>
        Мы уважаем Ваш комфорт, поэтому мы всегда будем рады увидеть 
        Ваши пожелания или предложения по улучшению нашего сервиса.
        <br />

    </li>
</ol>
